<div class = "container-fluid">
        <h1>Login</h1>
        <form>
            <div class = "form_group">
                <label>Email</label>
                <input type = "email"  name = "email" class = "form-control">
            </div>
    
            <div class = "form_group">
                <label>Password</label>
                <input type = "password" name="password" class = "form-control">
            </div>

            <div class = "form_group">
                    <label>Project Name</label>
                    <input type = "text" name= "project" class = "form-control">
                </div>
    
           <br>
            <button class = "btn btn-primary" type= "submit">Login</button>
        </form>
    </div>
    
