<div class = "container-fluid">
        {{userLoginForm.value | json}}
        <hr>
        <br>
        {{scrumloginModel | json}}
        <h1>Login</h1>
        <form #userLoginForm = "ngForm">
            <div class = "form_group">
                <label>Email</label>
                <input type = "email"  name = "email" class = "form-control" [(ngModel)] = "scrumloginModel.email">
            </div>
    
            <div class = "form_group">
                <label>Password</label>
                <input type = "password" name="password" class = "form-control" [(ngModel)] = "scrumloginModel.password">
            </div>

            <div class = "form_group">
                    <label>Project Name</label>
                    <input type = "text" name= "project" class = "form-control" [(ngModel)] = "scrumloginModel.project">
                </div>
    
           <br>
            <button class = "btn btn-primary" type= "submit">Login</button>
        </form>
    </div>
    
